body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.name_color{
    color: orange;
}
.flexable_container{
    display: flex;
    padding-left: 5%;
    padding: 50px;
}
.half-width{
    width: 50%;
    
}
.half-width img{
    width: 70%;
}
.link_button{
    color: white;
    background-image: linear-gradient(orange,tomato);
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 5px;
}
.top_banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}
.dream_big{
    background-image:url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.exprience_item{
    width: 40%;
   margin-left: 3%;
   margin-right: 5%;
  box-shadow: 10px 10px 40px gray;
  border-radius: 10px;
 
}
.exprience_area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}
#full_stack{
    border-left: 7px solid tomato;
}
#baby_web{
    border-left: 7px solid blue;
}
footer p{
    text-align: center;
}
